doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 Hobbies
        table
            tr
                th Name
                th Type
                th Description
            each hobby in data
                tr
                    td #{hobby.properties.name}
                    td #{hobby.properties.type}
                    td #{hobby.properties.description}
